{% extends "base.html" %}

{% block active_new %}
    {% if(modify!=True) %}
        class="active"
    {% endif %}
{% endblock %}


{% block body %}
<div class="nuova_nota" style="display:none;">
    <form class="form-horizontal" method="POST">
        {{ nota_form.csrf_token }}
        <div class="form-group">
            <label for="titolo" class="col-xs-2 control-label">Titolo:</label>
            <div class="col-xs-10">
            {{ nota_form.titolo(class_="form-control") }}
            {% if errors.titolo %}
                <div class="errore">
                    {{ errors.titolo[0] }}
                </div>
            {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
            {{ nota_form.testo(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
            {{ nota_form.tags(class_="form-control selectmultiple") }}
            {% if errors.tags %}
                <div class="errore">
                    {{ errors.tags[0] }}
                </div>
            {% endif %}
            </div>
        </div>
        <div class="row bottoni">
            <div class="col-xs-6">
                {% if (modify==True) %}
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#delete_modal">Delete</button>
                <div class="modal fade" id=delete_modal tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class ="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                            </div>
                            <div class="modal-body text-center">
                                <button type="" class="btn btn-danger" form="form_delete">Confirm</button>
                            </div>
                        </div>
                  </div>
                </div>
                {% endif %}
            </div>
            <div class="col-xs-6 text-right">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
    {% if(modify==True) %}
        <form method="POST" id="form_delete">
        {{ delete_form.csrf_token}}
        {{ delete_form.id }}
        </form>
    {% endif %}
</div>

{% endblock %}
{% block script %}
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
tinymce.init({
    selector: 'textarea',
    height: 300,
    plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media contextmenu paste code codesample'
    ],
    toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | codesample',
    content_css: '//www.tinymce.com/css/codepen.min.css'
});
</script>
<script>
$('.selectmultiple').select2({
    theme: 'bootstrap',
    width: '100%',
    placeholder: 'Tags',
    tags: true
});

//funzione di fadeIn, eseguita alla fine del caricamento della pagina.
//serve ad evitare che la pagina venga renderizzata prima dell'esecuzione degli script che attivano select2 e tinymce
$(document).ready( function() {
    $('.nuova_nota').fadeIn();
});

</script>
{% endblock %}
