{% extends "base.html" %}

{% block head %}
<link href={{ url_for('static', filename='css/prism.css') }} rel="stylesheet">
<script src={{ url_for('static', filename='js/prism.js') }}></script>
{% endblock %}

{% block body %}
<div class="row dettagli_nota">
    <div class="col-sm-12">
        <h3>{{ nota.titolo }}</h3>
        <p> {{ nota.testo|safe }}</p>
    </div>
</div>
<hr/>
<div class="row categorie">
    <div class="col-xs-12">
        <span>Tags: </span>
            {% for tag in tags[:-1] %}
            <span>#{{ tag }}, </span>
            {% endfor %}
            <span>#{{ tags[-1] }}</span>
    </div>
</div>
<div class="row bottoni">
    <div class="col-sm-12">
        <a href='/modify/{{ nota.id }}' class="btn btn-default">Modify</a>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$('.selectmultiple').select2({
    theme: 'bootstrap',
    width: '100%',
    placeholder: 'Nessun Tag',
    tags: true
});
</script>
{% endblock %}
